html {
    margin: 0;
    padding: 0;
    display: block;
}

body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: rgb(0, 0, 179);
}








#navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content:flex-end;
    align-items:center;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
}

#navbar ul li {
    list-style: none;
    margin-left: 1rem;
}

#navbar ul li a {
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h1 {
    margin-top: 10rem;
    color: var(--primary-color);
    font-size: 5rem;
}

form .search-box input {
    width: 500px;
    height: 44px;
    border-radius: 25px;
    padding: 0 2em;
}

form .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

form .buttons input {
    padding: 0.5rem;
}
.advanced-form {
    width: 600px;
}

.advanced-form .field {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    background: var(--primary-color);
    color: white;
    margin-top: 20px;
    cursor: pointer;
}